# Source distribution files.
include AUTHORS
include LICENSE
include README.md
include setup.py

recursive-include docs *
prune docs/_build

# Python package data files.
recursive-include whrami/static *

# Prune stray bytecode files.
global-exclude *.pyc
